#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}

.Main {

  width: 70%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #e0e0e0;
}

.Sidebar {
  width: 30%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #f0f0f0; 
}

.boldy-boy {
  font-weight: bold;
}

.read-the-docs {
  color: #888;
}
